.title {

  margin: 0 0 15px 0;
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 15px;
  position: relative;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: #ddd;
  font-family: 'Poppins', sans-serif;

  &::after {
    content: '';
    position: absolute;
    bottom: 2px;
    height: 4px;
    background-color: rgba(255, 255, 255, .2);
    /*background-color: #f7b4b4;*/
    width: 64px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}